<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark">
        <title>Dolphin - {% block title %}Symfony DDD experiment{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link
              rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.fluid.classless.purple.min.css"
            >
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
              <ul>
                <li><a href="{{ path('app_home') }}">🐬 Dolphin</a></li>
              </ul>
              <ul>
                <li><a href="{{ path('app_signup') }}">Sign up</a></li>
              </ul>
            </nav>
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            <p>
                Dolphin is Symfony DDD experiment
            </p>
            <p>
                <a href="#" >Back to top</a>
            </p>
        </footer>
    </body>
</html>
